<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit_situation_message</title>
  <style>
    .one_message_container {
      display: flex;
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px;
      margin: 32px;
      justify-content: space-between;
      align-items: center;
    }
    .one_message_container > .message_name {
      flex-grow: 1;
    }
    .one_message_container > .message_edit_form {
      margin-left: 8px;
    }
    .message_edit_button {
      /* background: none; */
      border: none;
      cursor: pointer;
      font-size: 12px;
    }
    .new_message_container {
      display: flex;
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .new_message_container > input{
      width: 80%;
    }

    .message_show_form {
      width: 100%;
    }

    .message_show_form > .message_edit_form{
      border: none;
      width: 100%;
    }
    
    .message_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
  <button type="button" onclick="history.back()">戻る</button>
  {% for message in messages %}
    <div class="one_message_container">
        <form method="get" action="http://localhost:8080/show_situation"  class="message_show_form">
          <input type="hidden" name="message_id" value="{{message.id}}">
          <input class="message_edit_form" type="text" name="message_edit_form" value="{{ message.message }}">
          {# <button type="submit" class="message_show_button">{{ message.message }}</button> #}
        </form>
        <form method="get" action="http://localhost:8080/edit_situation" class="message_edit_form">
          <input type="hidden" name="message_id" value="{{message.id}}">
          <button type="submit" class="message_edit_button">更新</button>
        </form>
        <form method="get" action="http://localhost:8080/edit_situation" class="message_edit_form">
          <input type="hidden" name="message_id" value="{{ message.id }}">
          <button type="submit" class="message_edit_button">削除</button>
        </form>
        <br>
    </div>
  {% endfor %}
  <form action="http://localhost:8080/add_message" method="post" class="new_message_container">
    <input type="text" name="add_message_text" required>
    <input type="hidden" name="trigger_id" value="{{ trigger_id }}">
    <input type="hidden" name="situation_id" value="{{ situation_id }}">
    <button type="submit">＋新規テキスト登録</button>
  </form>
</body>
</html>