<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit_trigger</title>
  <style>
    .one_trigger_container {
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px 8px 0;
      margin: 32px;
      background-color: rgb(194, 194, 194);
    }
    .one_trigger_container > .trigger_name {
      flex-grow: 1;
    }
    .one_trigger_container > .trigger_edit_form {
      margin-left: 8px;
    }
    .trigger_edit_button {
      cursor: pointer;
    }
    .new_trigger_container {
      margin-left: auto;
      margin-right: auto;
      width: 128px;
    }
    .trigger_show_form {
      width: 100%;
    }
    .trigger_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
<h1>先輩名の編集画面</h1>
  <button type="button" onclick="history.back()">戻る</button>
  <a href="show_trigger">ホームに戻る</a>
  {% for trigger in triggers %}
    <div class="one_trigger_container">
        {# <form method="get" action="/show_situation"  class="trigger_show_form">
          <input type="hidden" name="trigger_id" value="{{trigger.id}}">
          <button type="submit" class="trigger_show_button">{{ trigger.trigger_name }}</button>
        </form> #}
        <form method="post" action="edit_trigger_name_exec" class="trigger_show_form">
          <input type="hidden" name="trigger_id" value="{{trigger.id}}">
          <input class="trigger_show_button" type="text" name="update_trigger_name_text" value="{{ trigger.trigger_name }}">
          <button type="submit" class="trigger_edit_button">更新</button>
          {# <input type="hidden" name="situation_id" value="{{situation.id}}"> #}
        </form>
        <br>
    </div>
  {% endfor %}
  
</body>
</html>