<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show_situation</title>
  <style>
    .one_situation_container {
      display: flex;
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px;
      margin: 32px;
      justify-content: space-between;
      align-items: center;
    }
    .one_situation_container > .trigger_name {
      flex-grow: 1;
    }
    .one_situation_container > .trigger_edit_form {
      margin-left: 8px;
    }
    .situation_edit_button {
      border: none;
      cursor: pointer;
      font-size: 18px;
      margin-left: 4px;
    }
    .new_trigger_container {
      margin-left: auto;
      margin-right: auto;
      width: 96px;
    }
    .situation_show_form {
      width: 100%;
    }
    .situation_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
  <button type="button" onclick="history.back()">戻る</button>
  <a href="/show_trigger">ホーム画面へ</a>
  {% for situation in situations %}
    <div class="one_situation_container">
      <form method="get" action="/show_message" class="situation_show_form">
        <input type="hidden" name="trigger_id" value="{{trigger_id}}">
        <input type="hidden" name="situation_id" value="{{situation.id}}">
        <button type="submit" class="situation_show_button">{{ situation.situation_name }}</button>
      </form>
      <form method="get" action="/edit_situation" class="situation_edit_button">
          <input type="hidden" name="situation_id" value="{{situation.id}}">
          <input type="hidden" name="trigger_id" value="{{trigger_id}}">
          <button type="submit" class="situation_edit_button">編集</button>
      </form>
      <form method="post" action="/delete_situation" class="situation_edit_button">
        <input type="hidden" name="situation_id" value="{{situation.id}}">
        <button type="submit" class="situation_edit_button">削除</button>
      </form>
    </div>
  {% endfor %}
</body>
</html>